<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
              <div class="col-lg-4 mx-auto">
                  <div class="container auth-form-light text-left p-5">
                      <div class="brand-logo">
                          <img src="../../assets/images/logo.svg">
                      </div>
                      <h4>New here?</h4>
                      <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                      <form th:action="@{/public/user/save}" th:object="${user}" method="post" enctype="multipart/form-data" class="container mt-5">
                          <div class="form-group">
                              <label for="name">First Name</label>
                              <input type="text" th:field="*{name}" class="form-control" id="name">
                          </div>

                          <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" th:field="*{email}" class="form-control" id="email">
                          </div>

                          <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" th:field="*{password}" class="form-control" id="password">
                          </div>

                          <div class="form-group">
                              <label for="cellNo">Cell</label>
                              <input type="text" th:field="*{cellNo}" class="form-control" id="cellNo">
                          </div>

                          <div class="form-group">
                              <label for="image">User Image:</label>
                              <input type="file" th:field="*{image}" accept="image/*" onchange="previewImage()" class="form-control-file" id="image">
                              <img th:if="${user.image ne null}" th:src="@{/assets/images/users/{filename}(filename=${user.image})}" alt="User Image" class="img-fluid mt-2">
                              <img id="imagePreview" src="#" alt="User Image" style="display: none; width: 100px;" class="img-fluid mt-2">
                          </div>

                          <button type="submit" class="btn btn-primary">Save</button>
                      </form>

                  </div>
              </div>
          </div>
      </div>
      <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
